<h1>Acknowledgements</h1>
<p>Many thanks are due to the people who shared their time, passion and expertise informing this report including:</p>
<ul>
  <li>The staff at Great Kids Farm – Chrissa, Brooks and Beth were all very generous with their time and information.</li>
  <li>Ed Snodgrass and Dominique Bayne of Emory Knolls Farm shared their decades of experience and lessons learned, particularly regarding the greenhouse glazing as well as heating and ventilation strategies.</li>
  <li>Jim Franklin of Maryland Plants and Supplies provided advisement on material pricing as well as heating and ventilation strategies.</li>
  <li>Barry Cullen and Matt Tao of Luther Contracting consulted on the durability of Greenhouse 3 and Head house, particularly regarding the masonry and roof.</li>
  <li>Andrew Truitt of Truitt Renewable Energy Consulting provided insights on solar thermal and solar photovoltaics.</li>
  <a name="overview"></a><li>Todd Humora (Electrical Engineer) advised on automating controls.</li>
</ul>
