<table class="table">
  <thead>
    <th>Project</th>
    <th>Intention</th>
    <th class="text-right">Est. Cost</th>
  </thead>
  <body>
    <tr>
      <td rowspan="2">Green Roof</td>
      <td>Option 1: Replace with polyethylene</td>
      <td class="text-right">$4,800</td>
    </tr>
    <tr>
      <td>Option 2: Replace with polycarbonate</td>
      <td class="text-right">$1,400</td>
    </tr>
    <tr>
      <td>Solar Hot Water</td>
      <td>Repair install</td>
      <td class="text-right">$9,000</td>
    </tr>
    <tr>
      <td>Solar Photovoltaics (4kW System)</td>
      <td>Install</td>
      <td class="text-right">$16,000</td>
    </tr>
    <tr>
      <td>Interactive Website</td>
      <td>Install subpanel</td>
      <td class="text-right">$4,700</td>
    </tr>
    <tr>
      <th colspan="2">Demonstration Projects Potential Costs</th>
      <th class="text-right">$35,900</th>
    </tr>
  </body>
</table>