<h1>Demonstration Projects</h1>
<p>The following list of projects was developed based on consistency with the greater mission and vision of Great Kids Farm in mind. It was informed by current and former staff experiences to enhance the experience for BPS students.</p>
<%= render 'demonstration_table' %>
