<h3>Greenhouse 1 Line Items</h3>
<table class="table table-striped">
  <thead>
    <th colspan="1">Item</th>
    <th class="text-right">Cost</th>
  </thead>
  <tbody>
    <th colspan="2">1. Glass Removal</th>
    <tr>
      <td>Glass removal</td>
      <td>$1,500 for labor, hauling and disposal.</td>
    </tr>
    <tr>
      <td rowspan="2">Frame prep</td>
      <td>$1,200 for labor</td>
    </tr>
    <tr>
      <td>$ 500 frame materials (to treat sharp edges)</td>
    </tr>
    <tr>
      <td rowspan="4">Polyethylene</td>
      <td><a href="https://www.growerssupply.com/farm/supplies/prod1;gs_greenhouse_films;pg109093.html">$1,400 for polyethylene greenhouse film [$1,000 / $400 for 4yr (i.e. roof) and 6 month (i.e. sidewall) polyethylene respectively]</a></td>
    </tr>
    <tr>
      <td><a href="https://www.growerssupply.com/farm/supplies/prod1;gs_greenhouse_films;pgqh1095.html">$ 400 for inflating blowers (2 @ $200 each)</a></td>
    </tr>
    <tr>
      <td>$ 600 for fastening systems</td>
    </tr>
    <tr>
      <td>$ 2,500 installation and commissioning labor</td>
    </tr>
    <tr>
      <td rowspan="4">Polycarbonate</td>
      <td><a href="http://www.growerssupply.com/farm/supplies/prod1;gs_greenhouse_polycarbonate;pg104618_111353.html
">$ 7,160 for polycarbonate panels</a></td>
    </tr>
    <tr>
      <td><a href="http://www.growerssupply.com/farm/supplies/prod1;gs_greenhouse_polycarbonate;pg107198G.html
">$ 1,200 for mounting extrusions</a></td>
    </tr>
    <tr>
      <td>$ 400 for mounting hardware</td>
    </tr>
    <tr>
      <td>$ 3,000 labor</td>
    </tr>
    <th colspan="2">2. Heating</th>
    <tr>
      <td rowspan="5">Heating</td>
      <td><a href="http://www.homedepot.com/b/Plumbing-Pipes-Fittings-PEX-Pipe-Fittings/N-5yc1vZbuty
">$ 1,400 for tubing and fittings</a></td>
    <tr>
      <td>$  500 for pump and manifold</td>
    </tr>
    <tr>
      <td>$  700 to set concrete forms</td>
    </tr>
    <tr>
      <td>$ 2,300 for concrete</td>
    </tr>
    <tr>
      <td>$ 1,400 for HVAC re-commissioning</td>
    </tr>

    <th colspan="2">3. Ventilation</th>
    <tr>
      <td rowspan="6">Ventilation</td>
      <td><a href="https://www.growerssupply.com/farm/supplies/cat1;gs_cooling_fans;gs_exhaust_fans.html
">$ 800 materials: two 24” fans with 7,000 cfm (or greater) capacity in N wall</a></td>
    </tr>
    <tr>  
      <td>$ 200 prep and buttress walls</td>
    </tr>
    <tr>  
      <td><a href="https://www.growerssupply.com/farm/supplies/cat1a;gs_shutters_vents_louvers_1.html
">$ 300 install additional shutter boxes on S wall</a></td>
    </tr>
    <tr>  
      <td>$ 550 electrical labor</td>
    </tr>
    <tr>  
      <td>$ 150 electrical materials</td>
    </tr>
    <tr>  
      <td>$ 200 remove old ventilation apparatus</td>
    </tr>
    <th colspan="2">4. Electrical</th>
    <tr>
      <td>Electrical</td>
      <td>$ 100 Labor to troubleshoot service panel and replace GH2 breaker for diagnostics if necessary</td>
    </tr>
    <th colspan="2">5. Generator</th>
    <tr>
      <td rowspan="2">Generator</td>
      <td> $ 4,500 for generator (200 Amp service to ensure GH1 and GH2 have electrical service during utility service interruptions)</td>
    </tr>
    <tr>
      <td>$ 1,500 installation labor</td>
    </tr>
    <th colspan="2">6. Lighting</th>
    <tr>
      <td rowspan="2">Lighting</td>
      <td>$ 100 materials</td>
    </tr>
    <tr>
      <td>$ 200 labor</td>
    </tr>
    <th colspan="2">7. Doors</th>
    <tr>
      <td rowspan="3">Doors</td>
      <td>$ 250 for new N-wall door</td>
    <tr>
      <td>$ 170 for closing mechanisms for N- and S-wall doors</td>
    </tr>
    <tr>
      <td>$ 380 Labor</td>
    </tr>
    <th colspan="2">8. Controls</th>
    <tr>
      <td rowspan="2">Controls</td>
      <td><a href="https://www.growerssupply.com/farm/supplies/prod1;gs_thermostats_controllers;pg111138.html
">$ 5,000 Sensors, controls, iGrow Greenhouse controller and software</a></td>
    </tr>
    <tr>
      <td>$ 2,500 for electrical engineering, installation and commissioning<br/>  [Please note this requires either a cellular or wireless internet subscription, adding $ 600 - $1,200 per year on an ongoing basis]</td> 
    </tr>
    <th colspan="2">9. Pricing</th>
    <tr>
      <td></td>
      <td>The cost of the tabletop encasement is shown in both prices.
</td>
    </tr>
  </tbody>
</table>
