<h3>Greenhouse 1</h3>
<table class="table table-striped">
  <thead>
    <th colspan="2">Greenhouse 1 Improvements</th>
    <th class="text-right">Est. Cost</th>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2">Replace plate glass</td>
      <td>Option 1: Replace with Polyethylene</td>
      <td class="text-right">$8,100</td>
    </tr>
    <tr>
      <td>Option 2: Replace with Polycarbonate</td>
      <td class="text-right">$14,960</td>
    </tr>
    <tr>
      <td>Heating</td>
      <td>Install tabletop heat</td>
      <td class="text-right">$6,300</td>
    </tr>
    <tr>
      <td>Ventilation</td>
      <td>Repair or replace</td>
      <td class="text-right">$2,200</td>
    </tr>
    <tr>
      <td>Electrical</td>
      <td>Repair</td>
      <td class="text-right">$100</td>
    </tr>
    <tr>
      <td>Back-up generator</td>
      <td>Install</td>
      <td class="text-right">$5,000</td>
    </tr>
    <tr>
      <td>Lighting retrofit</td>
      <td>Repair or replace to operable conditions</td>
      <td class="text-right">$300</td>
    </tr>
    <tr>
      <td>Doors</td>
      <td>Replace (N door) and add mechanical closing mechanisms (N,S)</td>
      <td class="text-right">$800</td>
    </tr>
    <tr>
      <td>Controls and web interface</td>
      <td>Install for GH1 and GH2</td>
      <td class="text-right">$6,500</td>
    </tr>
    <tr>
      <th>Greenhouse 1 Total Estimated Cost</th>
      <th></th>
      <th class="text-right">$29,300 to $36,160</th>
    </tr>
  </tbody>
</table>