<h3>Greenhouse 2 Line Items</h3>
<table class="table table-striped">
  <thead>
    <th colspan="1">Item</th>
    <th class="text-right">Cost</th>
  </thead>
  <tbody>
    <th class="line-item" colspan="2">1. Glass Removal</th>
    <tr>
      <td>Glass removal</td>
      <td>$ 800 for labor, hauling and disposal.</td>
    </tr>
    <tr>
      <td rowspan="2">Frame prep</td>
      <td>$ 800 for labor</td>
    </tr>
    <tr>
      <td>$ 300 frame materials (to treat sharp edges)</td>
    </tr>
    <tr>
      <td rowspan="4">Polyethylene  </td>
      <td>$ 900 for polyethylene greenhouse film [$700 / $200 for 4yr (i.e. roof) and 6 month (i.e. sidewall) polyethylene respectively]</td>
    </tr>
    <tr>  
      <td>$ 400 for inflating blowers (2 @ $200 each)</td>
    </tr>
    <tr>  
      <td>$ 400 for fastening systems</td>
    </tr>
    <tr>
      <td>$1,900 installation and commissioning</td>
    </tr>
    <tr>
      <td rowspan="4">Polycarbonate</td>
      <td>$5,400 for polycarbonate panels</td>
    </tr>
    <tr>
      <td>$800 for mounting extrusions</td>
    </tr>
    <tr>
      <td>$200 for mounting hardware</td>
    </tr>
    <tr>
      <td>$2,200 labor</td>
    </tr>
    <th class="line-item" colspan="2">2. Heating</th>
    <tr>
      <td rowspan="3">Option I</td>
      <td>$ 2,000 for trenching and finding the leak</td>
    </tr>
    <tr>
      <td>$600 for replacing the pipe</td>
    </tr>
    <tr>
      <td>$200 for backfilling</td>
    </tr>
    <tr>
      <td rowspan="2">Option 2</td>
      <td>$ 4,000 for 83.8% efficient Weil McClain boiler</td>
    </tr>
    <tr>
      <td>$2,400 gas fitting and labor</td>
    </tr>
    <tr>
      <td rowspan="5">Option 3</td>
      <td>$600 for tubing and fittings</td>
    </tr>
    <tr>
      <td>$500 for pump and manifold</td>
    </tr>
    <tr>
      <td>$400 to set concrete forms</td>
    </tr>
    <tr>
      <td>$800 for concrete</td>
    </tr>
    <tr>
      <td>$1,000 for HVAC re-commissioning</td>
    </tr>
    <th class="line-item" colspan="2">3. Ventilation</th>
    <tr>
      <td rowspan="6">Ventilation</td>
      <td>$400 materials: one 24” fan with 6,000 cfm (or greater) capacity in N wall</td>
    </tr>
    <tr>
      <td>$200 prep and buttress walls</td>
    </tr>
    <tr>
      <td>$150 install additional shutter box on S wall</td>
    </tr>
    <tr>
      <td>$300 electrical labor</td>
    </tr>
    <tr>
      <td>$50 electrical materials</td>
    </tr>
    <tr>
      <td>$100 remove old ventilation apparatus</td>
    </tr>
    <th class="line-item" colspan="2">4. Electrical</th>
    <tr>
      <td>Electrical</td>
      <td>$1,600 for subpanel in/for GH2 if needed based on GH1 panel examination</td>
    </tr>
    <th class="line-item" colspan="2">5. Lighting</th>
    <tr>
      <td rowspan="2">Lighting</td>
      <td>$40 materials</td>
    </tr>
    <tr>
      <td>$60 labor</td>
    </tr>
    <th class="line-item" colspan="2">6. Doors</th>
    <tr>
      <td rowspan="3">Doors</td>
      <td>$400 for doors</td>
    </tr>
    <tr>
      <td>$170 for closing mechanisms</td>
    </tr>
    <tr>
      <td>$380 for labor</td>
    </tr>
    <th class="line-item" colspan="2">7. Pricing</th>
    <tr>
      <td>Pricing</td>
      <td>The cost of the tabletop encasement is shown in both prices.</td>
    </tr>
  </tbody>
</table>