<h3>Greenhouse 2</h3>
<table class="table table-striped">
  <thead>
    <th colspan="2">Greenhouse 2 Improvements</th>
    <th class="text-right">Est. Cost</th>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2">Replace plate glass</td>
      <td>Option 1: Replace with Polyethylene</td>
      <td class="text-right">$5,700</td>
    </tr>
    <tr>
      <td>Option 2: Replace with Polycarbonate</td>
      <td class="text-right">$10,500</td>
    </tr>
    <tr>
      <td rowspan="3">Heating</td>
      <td>Option 1: Repair and install pipe</td>
      <td class="text-right">$2,800</td>
    </tr>
    <tr>
      <td>Option 2: Repair and install a boiler</td>
      <td class="text-right">$6,400</td>
    </tr>
    <tr>
      <td>*Convert to encased tabletop</td>
      <td class="text-right">$4,400</td>
    </tr>
    <tr>
      <td>Ventilation</td>
      <td>Install</td>
      <td class="text-right">$1,200</td>
    </tr>
    <tr>
      <td>Electrical</td>
      <td>Install subpanel</td>
      <td class="text-right">$1,600</td>
    </tr>
    <tr>
      <td>Back-up Generator</td>
      <td>Ensure power to avoid crop failure</td>
      <td class="text-right">$5,000</td>
    </tr>
    <tr>
      <td rowspan="2">Doors</td>
      <td>Replace</td>
      <td class="text-right">$200</td>
    </tr>
    <tr>
      <td>Install for GH1 and GH2</td>
      <td class="text-right">$1,000</td>
    </tr>
    <tr>
      <th>Greenhouse 2 Total Estimated Cost</th>
      <th></th>
      <th class="text-right">$17,500 to $30,300</th>
    </tr>
  </tbody>
</table>