<h3>Greenhouse 3</h3>
<table class="table table-striped">
  <thead>
    <th colspan="2">Greenhouse 3 Improvements</th>
    <th class="text-right">Est. Cost</th>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2">Replace plate glass</td>
      <td>Option 1: Replace with polyethylene</td>
      <td class="text-right">$7,400</td>
    </tr>
    <tr>
      <td>Option 2: Replace with Polycarbonate</td>
      <td class="text-right">$13,600</td>
    </tr>
    <tr>
      <td>Heating and ventilation</td>
      <td>Repair/replace to operable conditions</td>
      <td class="text-right">$28,500</td>
    </tr>
    <tr>
      <td>Electrical</td>
      <td>Repair/replace to operable conditions</td>
      <td class="text-right">$4,000</td>
    </tr>
    <tr>
      <td>Back-up generator</td>
      <td>Ensure power to avoid crop failure</td>
      <td class="text-right">$5,000</td>
    </tr>
    <tr>
      <td>Masonry</td>
      <td>Repair and repoint</td>
      <td class="text-right">$7,000</td>
    </tr>
    <tr>
      <td rowspan="3">Insulate walls</td>
      <td>Option 1: Install HH Interior Insulation</td>
      <td class="text-right">$5,700</td>
    </tr>
    <tr>
      <td>Option 2: Install HH EIFS</td>
      <td class="text-right">$8,200</td>
    </tr>
    <tr>
      <td>Option 3: Install HH & Greenhouse stem wall EIFS</td>
      <td class="text-right">$13,500</td>
    </tr>
    <tr>
      <td>Windows and doors</td>
      <td>Replace</td>
      <td class="text-right">$6,000</td>
    </tr>
    <tr>
      <td>New Head House EPDM Roof</td>
      <td>Replace</td>
      <td class="text-right">$6,500</td>
    </tr>
    <tr>
      <td>Restroom renovation</td>
      <td>Replace including new plumbing supply lines</td>
      <td class="text-right">$7,000</td>
    </tr>
    <tr>
      <td>Water heater</td>
      <td>Replace</td>
      <td class="text-right">$1,100</td>
    </tr>
    <tr>
      <td>Utility sink</td>
      <td>Replace</td>
      <td class="text-right">$500</td>
    </tr>
    <tr>
      <td>Garage door</td>
      <td>Replace door and install motorized opener</td>
      <td class="text-right">$3,000</td>
    </tr>
    <tr>
      <td>Prep, storage, and staging</td>
      <td>Install</td>
      <td class="text-right">$1,500</td>
    </tr>
    <tr>
      <td>Walk-in cooler</td>
      <td>Install</td>
      <td class="text-right">$6,000</td>
    </tr>
    <tr>
      <td>Lighting retrofit</td>
      <td>Repair/replace to operable conditions</td>
      <td class="text-right">$1,400</td>
    </tr>
    <tr>
      <td>Parking area</td>
      <td><a href="http://www.alllandscapesupply.com/Price%20List%20Retail.pdf">Clear and prep</a></td>
      <td class="text-right">$7,000</td>
    </tr>
    <tr>
      <td>Controls and web interface</td>
      <td>Install</td>
      <td class="text-right">$6,500</td>
    </tr>
    <tr>
      <td>Fill cold frames</td>
      <td>Install</td>
      <td class="text-right">$3,500</td>
    </tr>
    <tr>
      <th>Greenhouse 3 Total Estimated Cost</th>
      <th></th>
      <th class="text-right">$107,600 to $121,600</th>
    </tr>
  </tbody>
</table>