<h3>Greenhouse 3 Line Items</h3>
<table class="table table-striped">
  <thead>
    <th colspan="1">Item</th>
    <th class="text-right">Cost</th>
  </thead>
  <tbody>
    <th class="line-item" colspan="2">1. Glass Removal</th>
    <tr>
      <td>1. Glass removal</td>
      <td>$1,400 for labor, hauling and disposal.</td>
    </tr>
    <tr>
        <td rowspan="2">Frame prep</td>
        <td>$1,100 for labor</td>
    </tr>
    <tr>
        <td>$400 frame materials (to treat sharp edges)</td>
    </tr>
    <tr>
        <td rowspan="4">Polyethylene</td>
        <td>$1,150 for polyethylene greenhouse film [$1,000 / $150 for 4yr (i.e. roof) and 6 month (i.e. sidewall) polyethylene respectively]</td>
    </tr>
    <tr>
        <td>$400 for inflating blowers (2 @ $200 each)</td>
    </tr>
    <tr>
        <td>$500 for fastening systems</td>
    </tr>
    <tr>
        <td>$2,250 installation and commissioning labor</td>
    </tr>
    <tr>
        <td rowspan="4">Polycarbonate</td>
        <td>$6,600 for polycarbonate panels</td>
    </tr>
    <tr>
        <td>$1,000 for mounting extrusions</td>
    </tr>
    <tr>
        <td>$300 for mounting hardware</td>
    </tr>
    <tr>
        <td>$2,800 labor</td>
    </tr>
    <th class="line-item" colspan="2">2. Heating & Ventilation</th>
    <tr>
        <td rowspan="7">Heating</td>
        <td>$1,400 for radiant tubing and fittings</td>
    </tr>
    <tr>
        <td>$2,200 for pumps and manifold</td>
    </tr>
    <tr>
        <td>$600 for zone valves and thermostats</td>
    </tr>
    <tr>
        <td>$2,300 for concrete</td>
    </tr>
    <tr>
        <td>$400 for clean and tune of remaining furnace</td>
    </tr>
    <tr>
        <td>$7,000 for boiler</td>
    </tr>
    <tr>
        <td>$2,500 for radiators in head house</td>
    </tr>
    <tr>
        <td rowspan="6">Ventilation</td>
        <td>$2,000 materials: two 24” fans with 7,000 cfm (or greater) capacity in W wall, 6’ - 8’ from bottom edge of fan to ground and one 16-18” fan above door in end wall</td>
    </tr>
    <tr>
        <td>$400 prep and buttress walls</td>
    </tr>
    <tr>
        <td>$300 shutter boxes on N and S walls (2 total)</td>
    </tr>
    <tr>
        <td>$800 install four (4) horizontal airflow fans for circulation</td>
    </tr>
    <tr>
        <td>$8,200 for electrical labor; removal of old furnaces and ventilation equipment; installation of tabletops, radiators</td>
    </tr>
    <tr>
        <td>$400 electrical materials</td>
    </tr>
    <tr>
    <th class="line-item" colspan="2">3. Electrical</th>
    <tr>
        <td>Electrical</td>
        <td>$4,000 Replace service panel and rewire greenhouse</td>
    </tr>
    <th class="line-item" colspan="2">4. Insulation</th>
    <tr>
        <td rowspan="2">Option 1</td>
        <td>$3,400 materials (i.e. framing, insulation, drywall)</td>
    </tr>
    <tr>
        <td>$2,100 labor</td>
    </tr>
    <tr>
        <td rowspan="2">Option 2</td>
        <td>$4,700 materials</td>
    </tr>
    <tr>
        <td>$3,500 labor</td>
    </tr>
    <tr>
        <td rowspan="2">Option 3</td>
        <td>$8,000 materials</td>
    </tr>
    <tr>
        <td>$5,500 labor</td>
    </tr>
    <th class="line-item" colspan="2">5. Windows & Doors</th>
    <tr>
        <td rowspan="2">Windows & Doors</td>
        <td>$4,000 for new exterior and interior windows and doors (vinyl frames, Energy Star minimums)</td>
    </tr>
    <tr>
        <td>$2,000 labor</td>
    </tr>
    <th class="line-item" colspan="2">6. New HH Roof</th>
    <tr>
        <td rowspan="2">New HH Roof</td>
        <td>$3,500 EPDM room with associated drainage</td>
    </tr>
    <tr>
        <td>$3,000 labor</td>
    </tr>
    <th class="line-item" colspan="2">7. Restroom</th> 
    <tr>
        <td>Restroom</td>
        <td>$7,000 for sink, urinal, commode, all supply lines, and utility sink in staging area</td>
    </tr>
    <th class="line-item" colspan="2">8. Water Heater</th>
    <tr>
        <td rowspan="2">Water Heater</td>
        <td>$1,400 for “Power Vented Water Heater” unit</td>
    </tr>
    <tr>
        <td>$400 for installation</td>
    </tr>
    <th class="line-item" colspan="2">9. Prep & Staging</th>
    <tr>
        <td>Prep & Staging</td>
        <td>$1,500 for prefab storage or site-built</td>
    </tr>
    <th class="line-item" colspan="2">10. Garage Door</th>
    <tr>
        <td rowspan="2">Garage Door</td>
        <td>$2,400 parts</td>
    </tr>
    <tr>
        <td>$600 labor</td>
    </tr>
    <th class="line-item" colspan="2">11. Walk-In Cooler</th>
    <tr>
        <td rowspan="2">Walk-in Cooler</td>
        <td>$5,000 for cooler</td>
    </tr>
    <tr>
        <td>$1,000 delivery and setup</td>
    </tr>
    <th class="line-item" colspan="2">12. Generator</th>
    <tr>
        <td rowspan="2">Generator</td>
        <td>$4,500 for generator (200 Amp service to ensure electricity during service interruptions)</td>
    </tr>
    <tr>
        <td>$1,500 installation labor</td>
    </tr>
    <th class="line-item" colspan="2">13. Lighting</th>
    <tr>
        <td rowspan="3">Lighting</td>
        <td>$100 materials in greenhouse</td>
    </tr>
    <tr>
        <td>$900 (150 per 2-lamp fixture in headhouse)</td>
    </tr>
    <tr>
        <td>$400 labor</td>
    </tr>
    <th class="line-item" colspan="2">14. Parking Area</th>
    <tr>
        <td rowspan="3">Parking Area</td>
        <td>$4,000 for Grass Paver</td>
    </tr>
    <tr>
        <td>$500 for fill gravel</td>
    </tr>
    <tr>
        <td>$2,500 for clearing, regarding and site prep</td>
    </tr>
    <th class="line-item" colspan="2">15. Cold Frames</th>
    <tr>
        <td rowspan="2">Cold Frames</td>
        <td>$2,800 soil</td>
    </tr>
    <tr>
        <td>$700 delivery and labor</td>
    </tr>
    <th class="line-item" colspan="2">16. Controls</th>
    <tr>
        <td rowspan="2">Controls</td>
        <td>$5,000 Sensors, controls, iGrow Greenhouse controller and software</td>
    </tr>
    <tr>
        <td>$2,500 for electrical engineering, installation and commissioning [Please note this requires either a cellular or wireless internet subscription, adding $600 - $1,200 per year on an ongoing basis]</td>
    </tr>
    <th class="line-item" colspan="2">17. Pricing Tabletop heating is included in Heating prices in # 2.</th>
</tbody>
</table>

