<a name="Recommendations"></a><h1>Recommendations</h1>
<p>GH1, GH2 and GH3 have general construction characteristics in common; however GH3 is unused and in significant disrepair.  The recommendations that follow are separated into the following parts:  Part I describes<a name="part-1"></a> systemic or “farm-wide” recommendations; Part II identifies and explains recommendations for GH3 (including Head House improvements); and Part III lists costs for GH1, GH2 and GH3 respectively.</p>
<h2>Part 1: Farm-wide Improvements</h2>
<h3>Utility Line Mapping</h3>
<p>As part of the needs assessment, Elysian Energy contacted the utility mapping service, Miss Utility. A summary of utility line markings and conflicts is attached. GKF should archive the markings for later use.  and with BPS. (See Miss Utility Ticket Check Status 15526052 in Supporting Information Section of this report). Care will need to be taken by contractors providing the following improvements that relate to gas, water and/or electricity to avoid disturbing these services.</p>
<h3>Replacement of all plate glass in GH1, GH2 and GH3</h3>
<p>Replacing plate glass is strongly encouraged to minimize safety risks.  The plate glass breaks regularly (a member of the site staff indicated several panels are replaced per month). Natural event- (e.g. windfall, hail, bird strikes) and person-made (e.g. a thrown rock) breakage will continue to happen, and it would be irresponsible to continue to use them in light of safety concerns. Contemporary greenhouse designers use two synthetic materials that permit the requisite solar gain and eliminate the risk of broken glass—polyethylene and polycarbonate.</p>
<h4>Type I Polyethylene sheeting (also known as “Greenhouse film”)</h4>
<p>Polyethylene sheeting is a plastic film that is available in many thicknesses and UV tolerances (i.e. durability), with directly proportionate costs for longevity. For year-round production, polyethylene sheets are installed with two layers that are fastened at the edges and inflated to create an insulating space.  (All insulation works by trapping heat in an air space.) We recommend installing a heavier duty (i.e. “4-year” rated polyethylene) sheeting system over the pitched roofs of GH1, GH2 and GH3.  The heavier duty polyethylene is more expensive initially than thinner types, but is designed to eliminate annual (re-)installation costs.  We recommend less expensive polyethylene sheeting for the sidewalls (i.e. “six-month” film) as it is not unlikely that they may incur damage from normal greenhouse operations (i.e. from both farm staff as well as students and interns). Additionally, the sidewalls may be raised or pulled back regularly during the warmer months for better ventilation.  Annual replacement is likely for the sidewall polyethylene sheeting.</p>
<h4>Type II Polycarbonate</h4>
<p>Polycarbonate is a rigid, durable, minimally opaque and UV-resistant rigid plastic to replace the plate glass.  More durable than polyethylene, it is more expensive, with typical warranties ranging from ten to fifteen years.  Polycarbonate comes in a corrugated single layer or flat twin-wall “honeycomb” construction.  The twin-wall construction is recommended because it incorporates the insulating space.  These panels can be worked by tools and are installed in a panelized manner into extruded aluminum channels, resulting in a longer time horizon between replacements.</p>
<p>Regardless of which type you choose for the roofs and sidewalls, we recommend Polycarbonate for the end walls.  While both polyethylene and polycarbonate can be patched quickly with foil tape, the wear and tear on the end walls will be higher due to foot traffic as well as stresses from ventilation fans and wind load.  The greater initial cost of the polycarbonate is justified through avoided replacement costs for the less durable polyethylene in the end walls.</p>
<h3>Improvements to Ventilation Systems</h3>
<p>All of the greenhouses were designed with a passive ventilation strategy with operable vents in the top of the sidewalls and along the ridge (i.e. peak) of the roof.  The vents are currently inoperable for one or more of the following reasons:</p>
<ul>
  <li>The articulating portions are seized or rusted</li>
  <li>The actuating cranks, gears and pulleys are not functional</li>
  <li>The motors are either broken or do not have electrical service</li>
</ul>
<p>According to staff, adequate ventilation is a top priority as GH1 and GH2 can be intolerably warm.  In addition to reducing high temperatures, good ventilation helps manage relative humidity (i.e. airborne water vapor, or % saturation of air at a given temperature) to minimize microclimate variations and to ensure gas concentrations.  Moreover, ventilation is required to minimize condensation to avoid fungal diseases, issues with cleanliness, and retard deterioration of structural components.</p>
<p>The National Greenhouse Manufacturer’s Association recommends replacing interior air with fresh, outdoor air at a rate equivalent to the volume of the greenhouse every minute during the summer.  This is known as 1 air change per minute or 60 air changes per hour (60 ACH). The recommended ventilation rate for the winter is roughly one third of that (i.e. 1 air change every three minutes or 20 ACH).</p>
<p>We recommend that you abandon the sidewall and ridge vents, remove the actuating motors and replace the existing fans with fans and shutters capable of the following ventilation ranges, given in cubic feet per minute (cfm):</p>
<table class="table">
  <thead>
    <th>Greenhouse</th>
    <th>Summer Ventilation (CFM)*</th>
    <th>Winter Ventilation (CFM)*</th>
  </thead>
  <tbody>
    <tr>
      <td>GH1</td>
      <td>14,400</td>
      <td>4,800</td>
    </tr>
    <tr>
      <td>GH2</td>
      <td>5,900</td>
      <td>2,000</td>
    </tr>
    <tr>
      <td>GH3</td>
      <td>4,600</td>
      <td>13,700</td>
    </tr>
  </tbody>
</table>
<p>For GH1 and GH2, the fans will be located in the North end wall with incoming air being drawn through a shutter box on the South wall.  Currently the North walls of the respective greenhouses have fans that are inoperable with the South walls housing the intake shutters.  GH1 will require two fans capable of exhausting at least 14,400 cu ft together, and GH2 will require one fan that can exhaust 6,000 cu ft.</p>
<p>GH3 will require installation of three mechanical fans located in the end wall with at least one shutter box in each side wall located as close as possible to the head house.  Two of the fans will be located between the end wall door and the north and south sides respectively (i.e. roughly 6-8 feet above the floor of the greenhouse).  The third fan will be located above the door as close to the ridge as possible and no lower than two feet above the end wall door (i.e. 2’ between top of door and lower edge of fan) to ensure this fan pulls air from the upper third of the greenhouse to avoid any stratification of heat, gases or moisture in this air and not simply recirculate air from the door.</p>
<p>The use of interior circulating fans (“Horizontal Air Flow Fans”) is also required to ensure uniformity of moisture and temperature.  (Uniform air quality encourages plant growth by increasing CO2 availability while reducing disease and mildew caused by excessive moisture.) GH1 and GH3 will need four (4) 12” diameter fans and GH2 will need two 12” diameter fans for sufficient circulation.</p>
<h3>Improvements to Heating Systems</h3>
<p>GHI has recently undergone improvements to its hydronic heating system and no improvements are needed; however, it is the opinion of the author that tabletop heating is best. In the interest of uniformity of production and operational strategies, adding radiant tabletop heating is put forward as the best option.  The author also recognizes that the current system is sufficient to provide heat to GH1 for year round production (as well as GH2 – see below) provided the glazing, ventilation and door improvements are made. </p>
<p>GH2 is heated by the boiler housed in GHI with hot water being distributed to GH2 from GH1 by way of an underground pipe.  During the winter of 2014-2015, GH2 lost heat.  The exact cause is currently unknown, but is most likely due to a leak in the underground pipe. Three options exist for GH2 to resume its ability to produce in the winter:</p>
<h4>Option 1</h4>
<p>Repair the underground pipe.  This will require excavation to determine the source of the leak and to replace the deteriorated pipe. Tabletop heating via hydronic heating is possible with the addition of an auxiliary pump for GH2.</p>
<h4>Option 2</h4>
<p>Install a dedicated boiler for GH2 thereby removing the need to excavate and eliminate the use of GH1’s large boiler for GH2’s comparatively small load.  Tabletop heating would be available.</p>
<p>GH3 is currently outfitted with three hanging forced air heaters in the greenhouse and one in the head house.  Two of the three units in the greenhouse are over twenty years old and should be removed.  The third unit (the Northeastern-most) is from 2000 and should be cleaned, tuned and confirmed operational when gas service is restored.  While it’s toward the end of its useful life, it is advisable to keep this unit for heating the air in the greenhouse for air temperature uniformity and to assist in melting any snow from the roof.  This furnace will be supplemental to the primary hydronic heating (i.e. boiler) strategy that follows.</p>
<p>In the interest of productivity and energy efficiency, delivering heat to where it is needed most – to the soil for germination and root development – is recommended.  That is, a boiler system that treats each table area in the greenhouse as its own zone makes a lot of sense.  This strategy allows each zone (i.e. table top) to call for heat independently of the others by way of it’s own thermostat to avoid variable temperatures (i.e. microclimates of excessive or insufficient heat).  Moreover, this zonal strategy allows for different soil temperatures to be maintained at the same time of year.  GKF staff could diversify their production at the optimal soil temperature for each crop being grown.</p>
<p>This tabletop heating strategy includes a boiler for creating the hot water, pumps and valves to deliver the water to where it is being called and a web of tubes laid out on each table to conduct and radiate heat where needed.  The tubes can be butyl or cross-linked polyethylene (PEX), usually ¼” to 3/8” in diameter, spaced about 2” apart. Typical tabletop installation includes a filter fabric laid over the tubing to protect it while short racks are placed over this fabric upon which small containers are placed with soil and seeds.  This is less efficient than encasing the tubing in concrete.  While encasing the tubes in concrete has a greater initial cost, it makes them much more difficult to damage while also providing more even heat distribution as well as thermal storage.  That is, concrete can “hold” heat better than air, and this is especially important because ventilation is so important to manage moisture (i.e. the required ventilation rate will evacuate warm air during the cooler months at a great rate.  As stated above, having supplemental forced air heat will help boost heat when needed during severe cold spells or when additional heat is needed to melt snow from the roof.</p>
<p>The head house will be a fifth zone for heating. Adding baseboard fin-tube units to the office, bathroom and main prep area is advised to ensure pipes do not freeze and for durability purposes.</p>
<h3>Electrical improvements</h3>
<p>All of the greenhouses need electrical upgrades to ensure functionality and productivity related to ventilation and lighting. All of the greenhouses should abandon the current passive ventilation strategies by removing the motors, cranks and/or pulleys for opening the vents to make space available for circulating fans and to minimize shade. When the glazing is replaced, this improvement will remove unnecessary equipment from the space and may make existing wiring available for the horizontal airflow fans.</p>
<p>GH1, GH2 and GH3 will benefit from a screw-in lamp retrofit.  Compact Fluorescent lamps are likely the best choice as the weatherproof fixtures may sequester heat that would impair LED performance.</p>
<p>No dedicated electric service was observed at GH2.  It is likely that a wire is run from GH1 for GH2; however, diagnostics are required to ensure the lights as well as the ventilation and circulation fans have sufficient current. If GH2 is served by a circuit from GH1, the electrification may be a simple diagnostic and replacement (est. $100).  Should the need arise, replacing the panel box in GH1 and installing a subpanel for GH2 could be installed for $1,600.</p>
<p>GH3 needs a new service panel and rewiring throughout.  Due to safety concerns, no attempt to turn the main power on at the panel located in the head house was made.  Regardless, the panel consisted of fuses for overload protection that no longer meets code. GH3 needs a new service access panel.</p>
<h3>Backup generators</h3>
<p>GH1 and GH2 could share a backup natural gas generator during power outages to minimize the likelihood of crop failure.</p>
<p>GH3 also has gas service, and a natural gas generator would minimize the likelihood of crop failure but also ensure that the head house would be open for distribution to students and schools regardless of the power outages.</p>
<h3>Controls</h3>
<p>GH1 and GH2 can share controls as they are adjacent.  GH3 would benefit from having its own set of controls as the orientation is different and one system may not be able to communicate over that distance.  That is, the wireless networks that facilitate the remote controlling capability may not reach GH3 from GH1/GH2. For example, the Link4 iGrow system includes the ability to remotely irrigate, ventilate, heat and monitor existing conditions.  The iGrow system also integrates with an optional Weather Station that can log data over time against sensors inside the greenhouses.  This can be very powerful data for tracking and managing productivity.  Additionally, the Weather Station can notify, via smartphone app, GKF staff of incoming storms so GKF staff can adjust schedules accordingly.  For example, if a strong storm is coming, the ventilation fan schedule can be overridden remotely to avoid excessive water intrusion or damage to the fans/electrical. This system does require wireless service for both locations.</p>
<a name="part-2"></a><h3>Windows and Doors</h3>
<p>GH3 needs new windows and doors throughout while GH1 and GH2 need door replacements and/or repairs.  All the exterior doors need mechanical closing mechanisms.</p>
</a><h2>Part 2: Greenhouse 3 Improvements</h2>
<p>In addition to the glazing, ventilation, heating, electrical and backup generation recommendations, controls, windows and doors, GH3 requires extensive structural and usability improvements.</p>
<h3>Masonry Repair</h3>
<p>The head house and foundation walls of the greenhouse have significant deterioration. The blocks themselves present in salvageable condition, but the entire structure needs mortar to be reinstalled.</p>
<h3>Insulation</h3>
<h4>Option I: Interior Insulation, Head house</h4>
<p>The head house is currently uninsulated.  The one-time cost of insulation installation is always cost-effective as it reduces operating costs, increases comfort and often helps extend the useful life of materials and equipment in the conditioned space.  Adding 2” by 6” framing, 16” on-center with R-19 or greater insulation is recommended on the interior of the head house and finish with drywall.  Rockwool does better in moist environments than fiberglass and is only slightly more expensive.</p>
<h4>Option II: Exterior Insulation Finish System (EIFS), Head House</h4>
<p>To extend the useful life of the structure, increase energy efficiency and leave the maximum amount of usable square footage inside the head house, we recommend an exterior insulation finish system (EIFS). This strategy adds foamboard insulation to the outside of the masonry and is then covered with a course of stucco for durability and drainage.</p>
<h4>Option III: EIFS on the head house and on the outside of the foundation wall of the greenhouse</h4>
<p>Adding insulation during the repair of the masonry of the greenhouse would help reduce heat loss from the greenhouse.  It would also create more usable and conditioned space and minimize temperature fluctuations.</p>
<h3>Windows & Doors</h3>
<p>As stated above, all of the windows and doors for the GH3 need to be replaced as they are in poor condition.  Included in these replacements is the need to reinstall the framing as much of the wood framing has deteriorated.</p>
<h3>Head House Roof</h3>
<p>The head house needs a new roof as much of the decking was rotting, particularly near the plumbing stack and around the downspout/drain in the NE corner.  New drainage will need to be reinstalled.</p>
<h3>Restroom renovation</h3>
<p>The restroom in the head house needs to be renovated with a new commode, sink and faucet.  Be sure to install EPA WaterSense commode and low flow aerator. The addition of an exhaust fan is needed.</p>
<h3>Water heater</h3>
<p>The water heater needs to be replaced and re-vented to ensure proper exhaust of combustion gases. It is beyond its useful life and showing signs of improper venting. A “power vented” model is specified as this eliminates the possibility of backdrafting that could be an issue when the exhaust vents are operating in the greenhouse.</p>
<h3>Utility Sink</h3>
<p>The utility sink in the main prep area is broken and needs to be replaced.</p>
<h3>Garage Door</h3>
<p>The garage door needs to be replaced with a similar rollup model that fits better into the garage door opening as a gap of 1-2” was observed.  Ensuring a snug fit is better for energy efficiency, comfort, moisture management, pest control and security.</p>
<h3>Prep, Storage & Staging Area(s) </h3>
<p>Adding tables with storage underneath is a best practice.  Ideally these prep tables will be movable (i.e. have wheels) with one located next to the utility sink and another on the opposite wall located towards the roll up door for staging pickups. Storage cabinets and/or wall storage (e.g. pegboard, hooks) is also needed on the wall with to the greenhouse for tools and supplies.</p>
<h3>Office</h3>
<p>The office will need to be conditioned for occupant comfort and to avoid overheating conditions for any computers or IT equipment.  As indicated in the Heating portion above, a through-the-wall or room AC unit is recommended, and an additional dehumidifier may be needed depending on how the space is used (and particularly if the window to the greenhouse is open regularly.</p>
<h3>Refrigeration</h3>
<p>We recommend a small walk-in cooler.  Even small walk-in coolers provide much more available storage than several refrigerators of the same footprint.  A walk-in cooler creates a lot of flexibility for production purposes not only because of the cooler temperature but also because of the dehumidification of cool air.</p>
<h3>Lighting Retrofit</h3>
<p>The greenhouse lighting fixtures should have the bulbs replaced with compact fluorescent lamps.  The head house should have 4 fixtures installed in the prep/staging area spaced throughout the room.  Each fixture should have two 48” tubular LED lamps to provide sufficient working light.  The office and bathroom should have at least one fixture of the same type (2 48” tubular lamps) respectively.  Motion sensors with manual override feature should control each room’s lights.</p>
<h3>Parking Area</h3>
<p>The area adjacent to the North wall of the greenhouse is currently overgrown with vegetation; however it is an excellent location for parking.  A stump would need to be removed if the entire area were to be used for parking, and perhaps some minor regarding.</p>
<h3>Controls</h3>
<p>To optimize productivity, GH3 needs an integrated controller that monitors and manages the heating, humidity and ventilation.  The technology to control these systems remotely exists (by computer, smart phone) to give site staff the opportunity to increase their productivity.  Moreover, the web portal for this system can be used to engage students both on-site and in the classroom.  To ensure this, GH3 will need internet connectivity, as well as specialized hardware, software and wiring.  (Please note the recommended controls and controller should be installed by an electrical engineer.)</p>
<a name="estimated-costs"></a><h3>Optional – Cold Frames</h3>
<p>The planter boxes for outdoor sprouting and growth known as the cold frames are excavated and could present a fall hazard.  The holes could be filled in with soil, and the pricing is presented for comprehensiveness.</p>
