<h1>Ventilation Calculations</h1>
<p>Greenhouse Volumes = ( length x width x height ) + ( 0.5 x length x width x height )</p>
<p>GH1 = (52 × 25 × 7.83) + (0.5 × 52 × 25 × 6.5) = 10,179 ft.3 + 4,225 ft.3 = 14,404 ft.3</p>
<p>GH2 = (31 × 20.75 × 7.5) + (0.5 × 31 × 20.75 × 3.3) = 4,824 ft.3 + 1,061 ft.3 = 5,885 ft.3</p>
<p>GH3 = (52 × 25 × 7.25) + (0.5 × 52 × 25 × 6.5) = 9,425 ft.3 + 4,225 ft.3 = 13,650 ft.3</p>

<h3>Heating Capacity</h3>
<p>GH3 currently has 240,000 Btuh capacity in the greenhouse area with another 84,000 Btuh for the head house. The three units in the greenhouse area are: Unit 1, Jackson, and Church.</p>