<h1>Demonstration Projects</h1>
<p>The following list of projects was developed based on consistency with the greater mission and vision of Great Kids Farm in mind. It was informed by current and former staff experiences to enhance the experience for BPS students.</p>
<%= render 'demonstration_table' %>
<h1>Description of Existing Building Systems</h1>
<h2>Greenhouse 3</h2>
<h3>Description of property</h3>
<p>The property (G3) consists of two rectangular buildings that adjoin:  a plate glass green house with metal framing and cinder block stem walls measures 52 feet long by 25 feet wide with the long axis oriented East-West.  The adjoining building, or “Head House” (HH), measures 16’ x 30’ and is of cinderblock construction.  Neither building is insulated. GH3 has been unused for many years and requires significant improvements to meet GKF’s objective of increasing the utility and production capacity with the intention of making this property usable year-round.</p>
<h3>Head House</h3>
<p>HH is a preparation and staging area for distribution of produce.  The16’x30’ structure consists of a bathroom (5.5’ x 9’,), an office (10’ x 9’) and a work/storage/loading area measuring (21’ x 16’).</p>
<p>The head house is on the Eastern side, and the GH’s end wall faces West. The site has significant southern exposure with some shade coming from the Head House to the East and adjacent trees to the West.</p>
<p>Greenhouse I (GH1) is the same construction as GH3’s greenhouse:  52’ by 25’ with a block stem wall and plate glass walls and roof within metal framing; however, there is no head house, and the long axis is oriented N-S.</p>
<p>Greenhouse 2 (GH2) is the same construction type as GH1 and GH3 but is smaller, measuring 31’ by 20’9” with the long axis oriented N-S similarly to GH1.</p>

