</a><h2>Part 2: Greenhouse 3 Improvements</h2>
<p>In addition to the glazing, ventilation, heating, electrical and backup generation recommendations, controls, windows and doors, GH3 requires extensive structural and usability improvements.</p>
<h3>Masonry Repair</h3>
<p>The head house and foundation walls of the greenhouse have significant deterioration. The blocks themselves present in salvageable condition, but the entire structure needs mortar to be reinstalled.</p>
<h3>Insulation</h3>
<h4>Option I: Interior Insulation, Head house</h4>
<p>The head house is currently uninsulated.  The one-time cost of insulation installation is always cost-effective as it reduces operating costs, increases comfort and often helps extend the useful life of materials and equipment in the conditioned space.  Adding 2” by 6” framing, 16” on-center with R-19 or greater insulation is recommended on the interior of the head house and finish with drywall.  Rockwool does better in moist environments than fiberglass and is only slightly more expensive.</p>
<h4>Option II: Exterior Insulation Finish System (EIFS), Head House</h4>
<p>To extend the useful life of the structure, increase energy efficiency and leave the maximum amount of usable square footage inside the head house, we recommend an exterior insulation finish system (EIFS). This strategy adds foamboard insulation to the outside of the masonry and is then covered with a course of stucco for durability and drainage.</p>
<h4>Option III: EIFS on the head house and on the outside of the foundation wall of the greenhouse</h4>
<p>Adding insulation during the repair of the masonry of the greenhouse would help reduce heat loss from the greenhouse.  It would also create more usable and conditioned space and minimize temperature fluctuations.</p>
<h3>Windows & Doors</h3>
<p>As stated above, all of the windows and doors for the GH3 need to be replaced as they are in poor condition.  Included in these replacements is the need to reinstall the framing as much of the wood framing has deteriorated.</p>
<h3>Head House Roof</h3>
<p>The head house needs a new roof as much of the decking was rotting, particularly near the plumbing stack and around the downspout/drain in the NE corner.  New drainage will need to be reinstalled.</p>
<h3>Restroom renovation</h3>
<p>The restroom in the head house needs to be renovated with a new commode, sink and faucet.  Be sure to install EPA WaterSense commode and low flow aerator. The addition of an exhaust fan is needed.</p>
<h3>Water heater</h3>
<p>The water heater needs to be replaced and re-vented to ensure proper exhaust of combustion gases. It is beyond its useful life and showing signs of improper venting. A “power vented” model is specified as this eliminates the possibility of backdrafting that could be an issue when the exhaust vents are operating in the greenhouse.</p>
<h3>Utility Sink</h3>
<p>The utility sink in the main prep area is broken and needs to be replaced.</p>
<h3>Garage Door</h3>
<p>The garage door needs to be replaced with a similar rollup model that fits better into the garage door opening as a gap of 1-2” was observed.  Ensuring a snug fit is better for energy efficiency, comfort, moisture management, pest control and security.</p>
<h3>Prep, Storage & Staging Area(s) </h3>
<p>Adding tables with storage underneath is a best practice.  Ideally these prep tables will be movable (i.e. have wheels) with one located next to the utility sink and another on the opposite wall located towards the roll up door for staging pickups. Storage cabinets and/or wall storage (e.g. pegboard, hooks) is also needed on the wall with to the greenhouse for tools and supplies.</p>
<h3>Office</h3>
<p>The office will need to be conditioned for occupant comfort and to avoid overheating conditions for any computers or IT equipment.  As indicated in the Heating portion above, a through-the-wall or room AC unit is recommended, and an additional dehumidifier may be needed depending on how the space is used (and particularly if the window to the greenhouse is open regularly.</p>
<h3>Refrigeration</h3>
<p>We recommend a small walk-in cooler.  Even small walk-in coolers provide much more available storage than several refrigerators of the same footprint.  A walk-in cooler creates a lot of flexibility for production purposes not only because of the cooler temperature but also because of the dehumidification of cool air.</p>
<h3>Lighting Retrofit</h3>
<p>The greenhouse lighting fixtures should have the bulbs replaced with compact fluorescent lamps.  The head house should have 4 fixtures installed in the prep/staging area spaced throughout the room.  Each fixture should have two 48” tubular LED lamps to provide sufficient working light.  The office and bathroom should have at least one fixture of the same type (2 48” tubular lamps) respectively.  Motion sensors with manual override feature should control each room’s lights.</p>
<h3>Parking Area</h3>
<p>The area adjacent to the North wall of the greenhouse is currently overgrown with vegetation; however it is an excellent location for parking.  A stump would need to be removed if the entire area were to be used for parking, and perhaps some minor regarding.</p>
<h3>Controls</h3>
<p>To optimize productivity, GH3 needs an integrated controller that monitors and manages the heating, humidity and ventilation.  The technology to control these systems remotely exists (by computer, smart phone) to give site staff the opportunity to increase their productivity.  Moreover, the web portal for this system can be used to engage students both on-site and in the classroom.  To ensure this, GH3 will need internet connectivity, as well as specialized hardware, software and wiring.  (Please note the recommended controls and controller should be installed by an electrical engineer.)</p>
<a name="estimated-costs"></a><h3>Optional – Cold Frames</h3>
<p>The planter boxes for outdoor sprouting and growth known as the cold frames are excavated and could present a fall hazard.  The holes could be filled in with soil, and the pricing is presented for comprehensiveness.</p>
