<h1>Estimated Costs - Greenhouse 3</h1>
<p>Before undertaking any improvements GKF or its contractors will need to contact Miss Utility to locate underground utility lines and pipes. Once attained, these records must be filed at GKF and with BPS.</p>
<%= render 'gh3_table' %>
<%= render 'gh3_equipment' %>