<h1>Overview</h1>
<p>Great Kids Farm (GKF) is a working farm used to educate “students of all ages about healthy eating, sustainable agriculture and the natural sciences.” Elysian Energy, LLC was retained by Friends of Great Kids Farm to provide advisement for improving three existing greenhouses at Great Kids Farm to expand their utility, efficiency and production capacity. Greenhouse One (GH1) is currently the primary greenhouse for GKF while Greenhouse Two (GH2) is used sparingly.  Currently GKF uses these greenhouses to produce micro-greens for sale to restaurants as well as seedlings for planting on the farm and distribution to school gardens. Greenhouse Three and adjacent Head House (GH3) is in significant disrepair and unusable.</p>
<p>The evaluative criteria included safety, durability, usability, energy efficiency and production capacity.</p>
<p>All of the greenhouses require significant improvements to restore functionally reliable, year-round production and building safety. We recommend the following improvements.</p>
<ul>
  <li>Identify and map electrical, natural gas and water service lines</li>
  <li>Replace all plate glass glazing</li>
  <li>Upgrade heating and ventilation systems</li>
  <li>Improve electrical systems</li>
  <li>Implement backup generator(s)</li>
  <li>Add controls to monitor and remotely control critical functions</li>
  <li>Improve windows (GH3) and doors (GH1, GH2 and GH3)</li>
</ul>
<p>Greenhouse 3 requires additional significant structural and functional improvements.</p>
<h3>GH3 Structural</h3>
<ul>
  <li>Comprehensive masonry repair to Head House and foundation walls of green house</li>
  <li>Repairs to cinder block supports of tables in green house</li>
  <li>New roof on head house</li>
</ul>
<h3>GH3 Functional</h3>
<ul>
  <li>Renovate restroom</li>
  <li>New water heater</li>
  <li>New utility sink</li>
  <li>New garage door</li>
  <li>New refrigeration unit</li>
  <li>Install preparation, storage and staging areas for transfer</li>
</ul>
<p>Additional consideration and research was performed for the following demonstration projects:</p>
<ul>
  <li>Green roofs</li>
  <li>Solar heating</li>
  <li>Solar electricity</li>
  <li>Interactive, remote controlling capability and educational website</li>
</ul>
<h2>Additional Considerations</h2>
<ol>
  <li>We were unable to calculate energy intensity for the Greenhouses because available utility data included the administrative building, which is outside the scope of this report.</li>
  <li>The recommendations in this report are based on good/better/best opportunities incorporating information from GKF site staff, publicly available best practices, interviews with leaders in the field, as well as financial considerations.</li>
  <li>Maryland has a robust incentive landscape for ECMs.  The electric utility that serves Great Kids Farm, BGE, has significant incentives for lighting, HVAC and refrigeration. These incentives were not included for several reasons:</li>
  <ol>
    <li>Specificity. BGE does not guarantee a specific incentive amount until their engineers review projects and issue a rebate reservation letter.</li>
    <li>Funding.  BGE’s programs, while well funded when compared to other states’ programs, are not unlimited, and funds are reserved on a first-come, first-served basis.</li>
    <li>Timeliness. The rebate reservation letter only reserves the rebates for 6 months before they expire.  Depending on which projects make the most sense, delaying the submission of project details to BGE will likely sync timelines so that GKF doesn’t need to reapply.</li>
  </ol>
  <li>Additional sources of funding may be available from the Maryland Energy Administration.  Two programs of note:</li>
  <ol>
    <li><a href="http://energy.maryland.gov/Govt/janeelawton.html">Jane E. Lawton Conservation Loan Program</a></li>
    <li><a href="http://energy.maryland.gov/Business/MathiasAg14.htm">Kathleen A.P. Mathias Agriculture Energy Efficiency Program</a> Dean Fisher at 410-260-2605</li>
  </ol>
</ol>
<p>Lastly, and most importantly, Great Kids Farm has an extraordinary opportunity to nurture healthy and successful Baltimore City School students to be healthy and productive members of society. It’s a meaningful task—nearly one in four Baltimore’s school-age children live in a food desert .  The pages that follow include improvements to the physical spaces that will be able to host not only additional production of plants but also additional or enhanced programming for the students. While programming is outside the scope of this physical needs assessment, the opportunities at the intersection of improving the greenhouses and improved/expanded programming experiences are many.  Expanded uses for the greenhouses may include:</p>
<ul>
  <li>Year-round production</li>
  <li>Production of seedlings for distribution to school gardens including:</li>
  <ol>
    <li>Propagation of cuttings from GKF orchard and</li>
    <li>Distribution of other garden supports</li>
  </ol>
  <li>Greater skills practice opportunities for interns</li>
  <li>Aquaponics</li>
  <li>Remote monitoring of greenhouses by GKF staff</li>
  <li>Distance learning and continued student engagement via webinars, webcam feeds.</li>
</ul>